.btn {
  padding: 20px 60px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none; }

.header__btn {
  background-color: #ff2d2d;
  border: none;
  color: white;
  font-weight: 700; }

.features__btn {
  color: red;
  background-color: transparent;
  border: 1px solid red; }

.subscribe__btn {
  padding: 30px 60px;
  background-color: #ff2d2d;
  border: none;
  color: white;
  text-transform: uppercase; }

.btn_full {
  width: 100%;
  padding: 30px 60px;
  background-color: #ff2d2d;
  border: none;
  color: white;
  text-transform: uppercase; }
