/* Footer */
.footer__inner {
  display: flex;
  justify-content: space-between;
  color: #b8b8b8; }

.footer__list {
  display: flex;
  font-size: 36px; }

.footer__link {
  color: #b8b8b8;
  margin-left: 20px; }
