/* Navigation */
.nav {
  background-color: #313030; }

.nav__menu {
  display: flex;
  justify-content: center; }

.nav__item {
  padding: 45px 25px 35px;
  list-style: none; }
  .nav__item:hover {
    background: red; }

.nav__link {
  text-transform: uppercase;
  color: white;
  text-decoration: none; }
  .nav__link:focus {
    outline: none; }
