/* Section */
.section {
  padding: 110px 0; }
  .section--navigation {
    padding-top: 30px;
    background-color: #f6f2f2; }
  .section--header {
    background-color: #f6f2f2; }
  .section--features {
    padding-bottom: 60px; }
  .section--team {
    padding-top: 0; }
  .section--subscribe {
    background-color: antiquewhite;
    padding: 140px; }
  .section--contact {
    position: relative; }
  .section--footer {
    padding: 55px 0 25px;
    background: #313030; }
