/*Subscribe*/
.subscribe__form {
  max-width: 770px;
  display: flex;
  margin: 0 auto; }
  .subscribe__form .form__input {
    flex: 1;
    padding-right: 25px; }
    .subscribe__form .form__input input {
      width: 100%;
      border: none;
      font-size: 18px;
      background: white;
      padding: 30px 35px;
      border-radius: 5px; }
