.btn {
  display: inline-block;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}

.btn_accent {
  background-color: #ff2d2d;
  border: none;
  color: white;
}

.btn_full {
  width: 100%;
  padding: 30px 60px;
  text-transform: uppercase;
}

