.contact__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.contact__outter {
  position: relative;
}

.contact__outter:after {
  display: block;
  position: absolute;
  background: #313030;
  content: "";
  top: 0;
  bottom: 0;
  left: 61%;
  right: 0;
}

.contact__info {
  width: 42%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 58%;
}

.two__input {
  display: flex;
  margin-bottom: 50px;
}

.form__input {
  flex: 1;
  padding-right: 60px;

  &:last-child {
    padding: 0;
  }
}

.form__input_area {
  padding-right: 0;
}

input {
  width: 100%;
  border: none;
  font-size: 18px;
  background: #e5e5e5;
  padding: 30px 50px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  border: none;
  font-size: 18px;
  background: #e5e5e5;
  padding: 30px 50px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.contact__info {
  padding-left: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
