/* Container */
.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;

  @include mobile8p {
    padding: 0 15px;
  }
}

.container--navigation {
  padding: 0;
}

.container__header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }
}
