.content_center {
  text-align: center;
}

.features__content {
  max-width: 500px;
}

.products__content {
  max-width: 500px;
  margin: 0 auto;
}

.team__content {
  max-width: 450px;
}

.contact__content {
  max-width: 725px;
}
