.contact__content {
    max-width: 725px;

    @include tablet {
        max-width: 460px;
    }
}

.contact__title {
    margin-bottom: 45px;

    @include tablet {
        margin-bottom: 30px;
    }
}

.contact__btn {
    @include mobile {
        margin-bottom: 25px;
    }
}

.contact__outter {
    position: relative;
}

.contact__outter:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(100% / 2 + (130px * 0.58 + 80px));
    display: block;
    content: "";
    background: #313030;

    @include mobile {
        display: none;
    }
}

.contact__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 58%;

    @include mobile {
        display: block;
        width: 100%;
    }
}

.form__input {
    width: 47%;
    max-width: 340px;
    margin-bottom: 60px;

    @include tablet {
        margin-bottom: 45px;
    }

    @include mobile {
        width: 100%;
        max-width: none;
        margin-bottom: 25px;
    }

    @include mobilese {
        margin-bottom: 10px;
    }
}

.form__name,
.form__email {
    width: 100%;
    padding: 30px 50px;
    font-size: 18px;
    background: #e5e5e5;
    border: none;
    border-radius: 10px;

    &:focus {
        color: $main-color;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.contact-area__input {
    width: 100%;
}

.contact__textarea {
    width: 100%;
    padding: 30px 50px;
    margin-bottom: 60px;
    font-size: 18px;
    resize: none;
    background: #e5e5e5;
    border: none;
    border-radius: 10px;

    @include tablet {
        margin-bottom: 45px;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.contact__info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 42%;
    padding-top: 190px;
    padding-left: 160px;
    color: rgba(255, 255, 255, .8);

    @include tablet {
        padding-top: 135px;
    }

    @include mobile {
        width: 100%;
        padding: 50px;
        text-align: center;
        background: #313030;
    }
}

.info__title {
    margin-bottom: 30px;
    font-size: 18px;
}

.info__address {
    margin-bottom: 20px;
}

.info__email {
    margin-bottom: 20px;

    @include tablet {
        font-size: 13px;
    }
}
