/* Container */
.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 25px;
    margin: 0 auto;

    @include mobile8p {
        padding: 0 15px;
    }
}

.container--navigation {
    padding: 0;
}

.container__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include tablet {
        flex-wrap: wrap;
        justify-content: center;
    }
}
