/* Footer */
.footer__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #b8b8b8;

    @include mobile {
        display: block;
    }
}

.copyright {
    @include mobile {
        text-align: center;
    }
}

.footer__list {
    display: flex;
    font-size: 36px;

    @include mobile {
        justify-content: center;
    }
}

.footer__link {
    margin-left: 20px;
    color: #b8b8b8;
}
