/* Header */
.header__content {
  margin-right: 10px;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    text-align: center;
    max-width: none;
  }
}

.header__title {
  max-width: 590px;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 800;
  color: black;
  letter-spacing: 0.1em;

  @include tablet {
    max-width: none;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  @include mobile {
    font-size: 35px;
  }

  @include mobile8p {
    font-size: 30px;
  }

  @include mobilese {
    font-size: 25px;
  }

}

.header__text {
  max-width: 500px;
  margin-bottom: 45px;

  @include tablet {
    margin: 0 auto 35px;
    max-width: 700px;
  }

  @include mobile {
    max-width: 600px;
  }
}

.header__btn {
  font-weight: $bold-weight;
}


.header__video {
  width: 45%;

  box-shadow: 0px 0px 76px 8px rgba(0, 0, 0, 0.5);

  @include tablet {
    width: 75%;
  }

  @include mobilese {
     width: 100%;
    height: auto;
  }

}
