/* Navigation */

.nav__menu {
  display: flex;
  justify-content: center;
  background-color: #313030;
}

.nav__link {
  display: inline-block;
  padding: 45px 25px 35px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;

  &:hover {
    background: red;
  }

  &:focus {
    outline: none;
  }

  &.active {
     background: red;
  }

  @include mobile {
    font-size: 12px;
  }

  @include mobile8p {
     padding: 25px 10px 20px;
  }

}
