/* Section */
.section {
  padding: 110px 0;

    @include tablet {
    padding: 70px 0;
  }

  @include mobile8p {
     padding: 50px 0;
  }

  &--navigation {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1000;

    @include tablet {
      top: 0;
    }
  }

  &--header {
    padding-top: 250px;
    background-color: $bg-color;

    @include tablet {
      padding-top: 200px;
    }

     @include mobile8p {
      padding-top: 100px;
    }

  }

  &--features {
    padding-bottom: 60px;


    @include mobile8p {
      padding-bottom: 30px;
    }
  }

  &--team {
    padding-top: 0;
  }

  &--subscribe {
    background: url(/img/mojave.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &--contact {
    position: relative;
  }

  &--footer {
    padding: 55px 0 25px;
    background: #313030;
  }
}


.section--navigation.fixed {
  background-color: #313030;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

