@import 'variables';
@import 'mixins';
@import 'reset';

body {
    @include main-font;

    font-size: $main-size;
    font-weight: $main-weight;
    line-height: 1.7;
    color: $main-txt-color;

    @include mobilese {
        font-size: 14px;
        line-height: 1.4;
    }
}

@import 'section';
@import 'container';
@import 'content';
@import 'title';
@import 'button';
@import 'navigation';
@import 'header';
@import 'features';
@import 'products';
@import 'team';
@import 'subscribe';
@import 'contacts';
@import 'footer';

* {
    box-sizing: border-box;
}

hr {
    width: 100%;
    max-width: 1250px;
    height: 1px;
    margin: 0 auto;
    color: $main-color;
    background-color: gray;
    border: none;

    @include tablet {
        width: 90%;
    }
}
