@import 'reset.scss';
@import 'section.scss';
@import 'title.scss';
@import 'button.scss';
@import 'navigation.scss';
@import 'header.scss';
@import 'features.scss';
@import 'products.scss';
@import 'team.scss';
@import 'subscribe.scss';
@import 'contacts.scss';
@import 'footer.scss';

/* Mixins */
@mixin main-font {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

hr {
  border: none;
  height: 1px;
  background-color: gray;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  color: red;
}

