@import 'variables';
@import 'mixins';
@import 'reset';

body {
  @include main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.7);

  @include mobilese {
    font-size: 14px;
    line-height: 1.4;
  }

}

@import 'section';
@import 'container';
@import 'content';
@import 'title';
@import 'button';
@import 'navigation';
@import 'header';
@import 'features';
@import 'products';
@import 'team';
@import 'subscribe';
@import 'contacts';
@import 'footer';


* {
  box-sizing: border-box;
}


hr {
  border: none;
  height: 1px;
  background-color: gray;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  color: red;

  @include mobile8p {
    width: 90%;
  }
}
