/*team*/
.team__content {
  max-width: 450px;
}

.team__title {
  margin-bottom: 35px;
}

.employers {
  display: flex;

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.employers__photo {
  display: flex;
  align-items: flex-start;
  height: 100%;
  margin-right: 75px;
  outline: 1px solid black;

  @include tablet {
    margin-right: 35px;
  }

  @include mobile {
    margin-right: 0;
    margin: 0 0 15px;
  }

}

.employers__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.employers__inner {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  @include mobile {
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

}

.employers__title {
  font-weight: 600;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);

  @include mobile {
    font-size: 40px;
  }
}

.employers__social {
  display: flex;

  @include mobile {
    padding-top: 15px;
  }

}

.social__list {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}

.employers__other {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;

  @include tablet {
    padding-top: 55px;
  }

  @include mobile {
    padding-top: 25px;
  }

  @include mobilese {
    justify-content: center;
  }

}

.other__item {
  width: 24%;
  position: relative;
  margin-bottom: 5px;

  @include mobile8p {
    width: 49%;
  }

  @include mobilese {
    width: 100%;
  }

}

.other__img {
  outline: 1px solid $main-color;
  max-width: 100%;
  height: auto;

  @include mobilese {
     width: 100%;
  }
}

.other__item:hover .other__name {
  opacity: 1;
}

.other__name {
  opacity: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
  transition: opacity .2s;
}
